<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projcar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projcar">
        <activity android:name=".Ler"></activity>
        <activity android:name=".Gravar" />
        <activity android:name=".Avalia" />
        <activity android:name=".Agente" />
        <activity android:name=".Vender" />
        <activity android:name=".Perfil" />
        <activity android:name=".FinalizarVenda" />
        <activity android:name=".Favoritos" />
        <activity android:name=".Comprar" />
        <activity android:name=".Cadastro" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>